<div class="card m-5 p-3">
  <form action="/answer" method="get">
    <div class="mb-3">
      <p>Ask your coach anything.</p>
      <input type="text" name="quest" class="form-control" id="question" aria-describedby="questionHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
